.calculator {
    background-color: black;
    width: fit-content;
    padding: 20px;
    margin: auto;
}


.display {
    width: 146.59px;
    height: 100px;;
    background-color: gray;
    margin-bottom: 20px;
}


.buttons {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
}

.last_row {
    display: flex;
    justify-content: flex-end;
}

.zero-button {
    width: 100%;
}

.special_operators {
    justify-content: space-between;
}

.number, .operator {
    margin: 2px 2px;
}